<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MochiMochi</title>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header_user.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer_advertise.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const userJson = '{{ user_json|escapejs }}';
        const user = userJson ? JSON.parse(userJson) : undefined;
    </script>
    <script src="{% static 'js/header_user.js' %}" defer></script>
</head>
<body class="flex flex-col min-h-screen">
    {% include 'header_user.html' %}

    {% include 'footer_advertise.html' %}
</body>

</html>